<?xml version="1.0" encoding="UTF-8"?>
<plist version="1.0">
  <dict>
      <key>items</key>
      <array>
        <dict>
           <key>assets</key>
           <array>
             <dict>
               <key>kind</key>
               <string>software-package</string>
               <key>url</key>
               <string>https://app.sodo6868.com/assets/app/QWzF3NH96BGJLqypqC2TuF.ipa</string>
             </dict>
             <dict>
               <key>kind</key>
               <string>display-image</string>
               <key>needs-shine</key>
               <integer>0</integer>
               <key>url</key>
               <string>https://app.sodo6868.com/assets/app/images/TIKTOKLIVE-LOGO-72.png</string>
             </dict>
             <dict>
               <key>kind</key>
               <string>full-size-image</string>
               <key>needs-shine</key>
               <true/>
               <key>url</key>
               <string>https://app.sodo6868.com/assets/app/images/TIKTOKLIVE-LOGO-72.png</string>
             </dict>
           </array>
           <key>metadata</key>
           <dict>
             <key>bundle-identifier</key>
             <string>com.live.vnsxv1.app</string>
             <key>bundle-version</key>
             <string>1.0.0</string>
             <key>kind</key>
             <string>software</string>
             <key>title</key>
             <string>TikTok Live</string>
           </dict>
        </dict>
      </array>
  </dict>
</plist>