<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project_ws</title>
    <link href="static/dashboard/index.css" rel="stylesheet"/>
</head>

<body>
    <div>
        <div class="header">
            <div class="head">
                <div class="inner">
                    <div class="img1">
                        <img src="static/dashboard/images/img1.png"/>
                    </div>
                    <div class="logo">
                        <a href="#">
                            <img src="static/dashboard/images/logo.png"/>
                        </a>
                    </div>
                    <div class="top-search" id="top_search">
                        <img src="static/dashboard/images/topSearch.png"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="navbar">
            <div class="announce">
                <div class="news">
                    <div class="news-content">
                        <div class="news-mask">
                            <marquee> Đã xử lý thành côngTHUA XỔ SỐ VN SIÊU TỐC NHẬN NGAY 20.000.000Đ <b>scroll</b> from <span style="color: #5fff18;">our service</span> right to left</marquee>
                        </div>
                    </div>
                </div>
            </div>
            <div class="nav">
                <div class="inner">
                    <ul>
                        <li>
                            <a href="#" target="_blank">
                                <span class="icbx"><img src="/static/dashboard/images/ic1.png" alt=""></span>Miễn phí đăng ký
                            </a>
                        </li>
                        <li>
                            <a href="#" target="_blank">
                                <span class="icbx"><img src="/static/dashboard/images/ic2.png" alt=""></span>Địa chỉ web
                            </a>
                        </li>
                        <li>
                            <a href="#" target="_blank">
                                <span class="icbx"><img src="/static/dashboard/images/ic3.png" alt=""></span>Tải APP
                            </a>
                        </li>
                        <li>
                            <a href="#" target="_blank">
                                <span class="icbx"><img src="/static/dashboard/images/ic4.png" alt=""></span>CSKH
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="inner">
                <div class="list-item">
                    <ul>
                        {% for item in data %}
                        <li>
                            <a href="javascript:void(0);" shenqbtn="" data-id="114" title="CON ONG CHĂM CHỈ NHẬN NGAY ƯU ĐÃI 12.000.000Đ" class="asimg">
                                <img src={{ item.img }} alt="">
                            </a> 
                            <div class="yhbtns">
                                <a href="javascript:void(0);" shenqbtn="" data-id="114" class="yhbtns-2">
                                    {{ item.message }}
                                </a>
                                <a href="/dashboard/detail?vid={{ item.uuid }}" target="_blank" class="yhbtns-1">
                                    xem chi tiết
                                </a>
                            </div>
                        </li>
                        {% endfor %}
                        <div class="tishi">
                            THÔNG BÁO:Quý khách vui lòng chọn sự kiện muốn tham gia,sau khi hoàn tất các bước đăng ký,chuyên viên sẽ kiểm duyệt trong vòng 2h.Vui lòng chọn mục【 Kiểm Tra Tiến Độ】ở góc trên cùng bên phải để theo dõi kết quả xét duyệt nhé!<br>Nhà cái QH88 đại sảnh nhận khuyến mãi nhanh hệ thống tự động xét duyệt, hoan nghênh quý hội viên đăng ký và nhận ưu đãi miễn phí.
                        </div>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="fimg">
                <img src="/static/dashboard/images/fimg.png" alt="">
            </div> 
            <div class="cop">
                CopyRight QH88 Reserved
            </div>
        </div>
    </div>
    <div id="product_modal">
        <div class="modal-content">
            <div class="close"></div>
            <div id="product_message" class="layerbox-msg" style="text-align: center; font-size: 24px; color: rgb(191, 44, 0); margin-top: 10%; padding: 50px 20px;">
                Thời gian đăng ký nhận khuyến mại từ 8h00 - 20h00 hàng ngày
            </div>
        </div>
    </div>
    <div class="layerbox" id="search_modal">
        <div class="layerconts">
            <div class="logox">
                <img src="/static/dashboard/images/logo.png" alt="">
            </div> 
            <div class="close"></div> 
            <div class="tlbox">
                Kiểm Tra Kết Quả Xét Duyệt
            </div> 
            <div class="forminpt">
                <div>
                    <div class="foemzuo">Tên đăng nhập：</div> 
                    <div class="fontyou">
                        <input type="text" placeholder="Tên đăng nhập" class="taninpt">
                    </div> 
                    <div class="cl"></div>
                </div> 
                <div>
                    <div class="foemzuo">Chọn mục tìm kiếm：</div> 
                    <div id="Act_Select" class="fontyou">
                        <select class="taninpt">
                            <option value="122">THUA XỔ SỐ VN SIÊU TỐC NHẬN NGAY 20.000.000Đ</option>
                            <option value="114">CON ONG CHĂM CHỈ NHẬN NGAY ƯU ĐÃI 12.000.000Đ</option>
                            <option value="113">HOÀN TRẢ SLOT &amp; BẮN CÁ THƯỞNG CAO LÊN ĐẾN 10.888.888</option>
                            <option value="125">THƯỞNG THẮNG HOẶC THUA THỂ THAO LIÊN TIẾP</option>
                            <option value="129">XỔ SỐ VN THẮNG HOẶC THUA LIÊN TIẾP HOÀN TRẢ LÊN ĐẾN 50%</option>
                            <option value="108">ĐĂNG KÝ TẶNG 6 TỶ BAO LÌ XÌ</option>
                            <option value="109">THƯỞNG THẮNG LIÊN TIẾP GAME BÀI 20%</option>
                            <option value="132">CHINH PHỤC ĐẲNG CẤP VIP CÙNG QH88</option>
                            <option value="131">KHUYẾN MÃI [NỔ HŨ] [BẮN CÁ] TẶNG 100% </option>
                        </select> 
                        <div class="cl"></div>
                    </div> 
                    <div>
                        <div class="foemzuo">&nbsp;</div> 
                        <div class="fontyou">
                            <a href="javascript:;" class="tanbtn1 layerbtn">Tìm kiếm</a>
                        </div> 
                        <div class="cl"></div>
                    </div> 
                    <div class="cl h30"></div>
                </div>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript">
    var oWidth = document.documentElement.clientWidth || document.body.clientWidth;
    if (oWidth < 1024) {
        window.location.href = "/dashboard/mb";
    } else {
    }
    window.addEventListener("orientationchange", function () {
        var oWidth = document.documentElement.clientWidth || document.body.clientWidth;
        if (oWidth < 1024) {
            window.location.href = "/dashboard/mb";
        } else {
        }
    }, false);
    window.addEventListener("resize", function () {
        var oWidth = document.documentElement.clientWidth || document.body.clientWidth;
        if (oWidth < 1024) {
            window.location.href = "/dashboard/mb";
        } else {
        }
    }, false);

    var elements = document.querySelectorAll(".yhbtns-2");
    elements.forEach(function(element) {
        element.addEventListener('click', function(e) {
            document.getElementById("product_message").innerHTML = e.target.innerHTML;
            document.getElementById("product_modal").style.display = "block";
        });
    });

    var closeBtns = document.querySelectorAll(".close");
    closeBtns.forEach(function(element) {
        element.addEventListener('click', function() {
            document.getElementById("product_modal").style.display = "none";
            document.getElementById("search_modal").style.display = "none";
        });
    });

    document.getElementById("top_search").addEventListener("click", function() {
        document.getElementById("search_modal").style.display = "block";
    })
</script>
</html>